<div id="bag">
	
	

	<!-- HEADER -->
	<div class="bar bar-header bar-header-vanderlande">

		<!-- LOGOUT -->
		<button class="button button-icon icon ion-power header-icon" ng-click="vm.logout()"></button>

		<!-- TITLE -->
		<div class="h1 title" ng-click="vm.back()">{{vm.currentStation}}</div>

		<!-- MONITORED STATIONS -->
		<button class="button button-icon icon ion-ios-location header-icon" ng-click="vm.monitor()"></button>
	</div>

	<!-- SUBHEADER -->
	<div on-touch="vm.scan()" class="bar bar-subheader bar-subheader-vanderlande">
		<h2 class="title subheader">Scan</h2>
	</div>


	
	<ion-pane>
		<div id="bag-task" ui-view="bag-task" class="has-header has-subheader"></div>
		<div id="bag-tabs" ui-view="bag-tabs" class="has-header has-subheader"></div>
	</ion-pane>
</div>