<!-- LOGIN VIEW -->
<div id="login">
	<ion-content class="login-box" scroll="false" overflow-scroll="false">
		<div class="box" ng-style="{'min-height': vm.box}">
			<!-- VANDERLANDE LOGOS -->
			<img class="vdl-logo" ng-src="images/vanderlande.png">

			<!-- ERROR MESSGE -->
			<toaster-container toaster-options="{'time-out': 5000, 'close-button':true, 'position-class': 'toast-top-right'}"></toaster-container>
		</div>

		<!-- LOGIN FORM -->
		<div class="login" ng-style="{'min-height': vm.box}">
			<form name="loginForm" ng-submit="vm.login()" novalidate="" class="login-form">
				<p class="item-instructions">Enter or scan credentials:</p>
				<div class="list">
					<!-- USERNAME -->
					<div class="form-group">
						<label class="item item-input item-label">
							<input name="username" type="text" placeholder="Name" ng-model="vm.username" ng-minlength="5" required>
						</label>
					</div>
					<!-- PASSWORD -->
					<div class="form-group">
						<label class="item item-input item-label">
							<input name="password" type="password" placeholder="Password" ng-minlength="5" ng-model="vm.password" required>
						</label>
					</div>

					<!-- LOGIN BUTTON -->
					<button type="submit" class="button button-block button-login">Login</button>


				</div>

			</form>
		</div>
	</ion-content>
</div>