<!-- LOGIN VIEW -->
<div id="login">
	<ion-content class="login-box" overflow-scroll="true">
		<!-- VANDERLANDE LOGOS -->
		<div id="vanderlande" class="row row-center row-6">
			<!-- VANDERLANDE LOGO -->
			<div class="col-90 center">
				<img class="img-responsive" ng-src="images/vanderlande.png">
			</div>
		</div>

		<!-- LOGIN FORM -->
		<div id="login-form" class="row row-center row-6">
			<div class="col-90 center">
				<!-- LOGIN FORM -->
				<form name="loginForm" ng-submit="vm.login()" novalidate>
					<p class="item-instructions">Enter or scan credentials:</p>
					<div class="list">
						<!-- USERNAME -->
						<div class="form-group">
							<label class="item item-input item-label">
								<input type="text" placeholder="Name" ng-model="vm.username">
							</label>
						</div>
						<!-- PASSWORD -->
						<div class="form-group">
							<label class="item item-input item-label">
								<input type="password" placeholder="Password" ng-model="vm.password">
							</label>
						</div>
						<!-- LOGIN BUTTON -->
						<button type="submit" class="button button-block button-login">Login</button>
					</div>
				</form>
				<p>{{vm.status}}</p>
			</div>
		</div>

	</ion-content>
</div>