<div id="station-detail">
	<div class="bar bar-header bar-header-vanderlande">
		<button class="button button-icon icon ion-power white" ng-click="vm.logout()"></button>
		<div class="h1 title white"  ng-click="vm.back()">{{vm.station.stationName}} <i class="ion-ios-arrow-down"></i></div>
		<button class="button button-icon icon ion-ios-location white"></button>
	</div>
	<div class="bar bar-subheader">
		<h2 class="title subheader">Scan</h2>
	</div>
	<ion-content class="has-header has-subheader" padding="true" scrollbar-y="false" style="padding-right=0;">
		<div class="scanbag">
			Scan Bag<br><span>for</span><br>Task
		</div>
	</ion-content>
</div>