<!--

$$hashKey:"object:549"
etdStd:"2016-03-18T11:30:03.467+0000"
flightNumber:"SA1104"
lpn:"1234567890"
storeLocation:"PB Store 1"
storeStation:"(S)OOG PBStore"
taskDescription:"Deliver"
taskDestinations:"240"
taskType:"OTHER"

-->


<div id="station-detail">
	<div class="bar bar-header bar-header-vanderlande">
		<button class="button button-icon icon ion-power white" ng-click="vm.logout()"></button>
		<div class="h1 title white" ng-click="vm.back()">{{vm.currentStation.stationName}}</div>
		<button class="button button-icon icon ion-ios-location white"></button>
	</div>
	<div class="bar bar-subheader">
		<h2 class="title subheader">Scan</h2>
	</div>
	<ion-content class="has-header has-subheader" padding="true" scrollbar-y="false" style="padding-right=0;">
		<div class="scanbag" ng-show="!vm.isExist">
			Scan Bag
			<br><span>for</span>
			<br>Task
		</div>

		<ion-list ng-show="vm.isExist" class="list-station-details">
			<ion-item class="item-station-details" ng-repeat="(key, value) in vm.bagsToProcess" item="station" href="#/station/{{key}}">
				<div class="row">
					<div class="col col-10">
						<div class="row bag-tags-icon"><i class="icon ion-ios-briefcase icon-station"></i></div>
					</div>
					<div class="col col-33">
						<div class="col">
							<div class="row bag-tags-title">Bag Tag</div>
							<div class="row bag-tags-value">0436587604</div>
						</div>
						<div class="col">
							<div class="row bag-tags-title">Flight</div>
							<div class="row bag-tags-value">KL 426</div>
						</div>
					</div>
					<div class="col">
						<div class="col">
							<div class="row bag-tags-title">Task</div>
							<div class="row bag-tags-value">Deliver to MU-6</div>
						</div>
						<div class="col">
							<div class="row bag-tags-title">Store Location</div>
							<div class="row bag-tags-value">OOG Store Rack 2</div>
						</div>
					</div>
					<div class="col col-10">
						<div class="row bag-tags-icon">></div>
					</div>
				</div>
			</ion-item>
		</ion-list>

	</ion-content>
</div>