#bag-task {
	position: relative;
	min-height: 50%;
	background-color: #ffffff;
	color: black;
	text-align: center;
	font-size: xx-large;
	line-height: normal;
	padding: 20px;
}

#bag-tabs {
	position: relative;
	color: black;
	min-height: 40%;
	background-color: #f7f6ed;
}

#bag-task__lpn {
	color: darkorange;
}
.bag-task__decorator {
	font-size: large;
	font-weight: lighter;
}

