/* COLORS */
$orange : #F17B21;
$dark-orange : #da5c28;
$bg-active : #F7F7F7;
$icon-color : #b6c2d1;
$header-color : #fff;
$subheader-bg : #f7f6ed;
$subheader-color: #89898b;

/* ICONS */
$icon-size : 24px;

/* ============================== SELECT LOCATION ============================== */

/* HEADER */
.bar-header-vanderlande {
	background: $orange;

	/* HEADER TITLE */
	.title {
		font-weight: lighter;
		color: $header-color;
	}
}

/* SUB-HEADER */
.bar-subheader-vanderlande {
	background: $subheader-bg;
	
	/* SUB-HEADER TITLE */
	.title {
		color: $subheader-color;
		font-weight: 400!important;
		font-size: 14px!important;
		height: 28px!important;
		margin-top:-6px!important;
	}
}

/* LOCATION LIST */
.list-station{
	text-align: center;
	.list{ margin-left: 10px; }
}
.item-station{
	color: #da5c28;
	border-left: none;
	border-right: none;
	.activated {
		background: #F7F7F7!important;
		border-color: #F7F7F7!important;
	}
}

.padding{
	padding-right: 0;
	padding-left: 0;
}
.item-content{
	padding-top: 26px!important;
	padding-bottom: 26px!important;
	padding-left: 34px!important;
}
.icon-station{
	color:#b6c2d1;
	font-size: 20px!important;
	left:0!important;
}
.item-icon-right .icon {
	font-size: 24px;
}
.scanbag{
	color: #b5c1d0;
	text-align: center;
	margin-top: 70px;
	font-size: 34px;
	line-height: 28px;
	font-weight: lighter;
	span{
		font-size: 20px;
	}
}

.item-station-details {
	color: #da5c28;
	border-left: none;
	border-right: none;
	.activated {
		background: #F7F7F7!important;
		border-color: #F7F7F7!important;
	}
	.item-content {
		padding: 0!important;
		border-left: 0!important;
	}
}
.list-station-icon {
	width: 30px;
}

.list-station-details {
	.list{ margin-left: 0px; }
}

// STATION DETAILS
$bag-title: #696b6f;
$bag-value: #f27d24;
$red-warning: #c0242c;
$green-ok: #209d56;

.bag-tags-title {
	color: $bag-title;
}
.bag-tags-value {
	color: $bag-value;
}

.bag-list {
	padding: 0!important;
}

.bag-tags-icon {
	width: 24px;
}
.icon-arrow{
	color: $bag-value;
	font-size: 32px;
}
.col-arrow {
	display: flex;
	align-items: center;
	justify-content: center;
}