body{
	background: #fff;
	color: black;
}

.bar-header-vanderlande {
	background-image: linear-gradient(0deg, #F17B21, #F17B21 50%, transparent 50%);
	background-position: bottom;
	background-size: 100% 1px;
	background-repeat: no-repeat;
	background: #F17B21;
	background-color: white;
}